/* Navbar */

.navbar {
   padding-left: 15px;
   background-color: #222222;
}

.nav-link, .navbar-brand {
    color: white;
}

.nav-link:hover, .navbar-brand:hover {
    color: red;

}

.dark-theme, .light-theme {
    margin-left: 7px;
    border-color: #9b9b9b;
    border-width: 2px;
}

/* Body */

body {
    background-image: url(../imagens/non-game/games-background.jpg);
    background-size: cover;
    background-position: center, top right, center center;
    background-repeat: repeat-y, no-repeat, repeat;
    background-attachment: fixed, scroll, fixed;
}

/* Dark/Light mode System */

.dark-mode {
    background-color: #303030;
    color: white;
  }

.light-mode {
    background-color: rgb(214, 214, 214);
    color: black;
  }

/* Cards */

.card {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 5px;
    margin: 10px;
    border-width: 2px;
    border-color: black;
    background: none;
    text-align: center;
    align-items: center;
}

#card-div {
    justify-content: center;
}

.card-img-top {
    width: 100%;
    
}

.card-title, .card-text {
    align-self: center;
    padding-top: 2px;
}

/* footer */

