/* Navbar */

.navbar {
    padding-left: 15px;
    background-color: #222222;
 }
 
 .nav-link, .navbar-brand {
     color: white;
 }
 
 .nav-link:hover, .navbar-brand:hover {
     color: red;
 
 }
 
 .dark-theme, .light-theme {
     margin-left: 7px;
     border-color: #9b9b9b;
     border-width: 2px;
 }

 /* Dark/Light mode System */
 
 .dark-mode {
    background-color: #303030;
    color: white;
  }

.light-mode {
    background-color: rgb(214, 214, 214);
    color: black;
  }

 
 /* Body */
 
 body {
     background-image: url(../imagens/non-game/games-background.jpg);
     background-size: cover;
     background-position: center, top right, center center;
     background-repeat: repeat-y, no-repeat, repeat;
     background-attachment: fixed, scroll, fixed;
 }

 #fbx4 {
    display: block;
    padding-top: 25px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 55%; 
 }

 #first-div, #second-div, #third-div {
   background: none;
   justify-content: space-around;
 }

 .first-line, .second-line, .third-line {
    background: #747474;
    margin: 25px 0;
 }


 /* Cards */

 .card {
    border-radius: 15px;
    border: 0;
 }

.card-img-md8, .card-img-md6, .card-img-md4 {
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-top: -7px;

}

h4 {
    margin-left: -20px;
    padding-top: 5px;
    padding-left: 3px;
    text-align: center;
    
}
